@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
body {
    font-family: 'Lexend', Arial, Helvetica, sans-serif; 
    margin: auto; 
    max-width: 2500px;
    box-sizing: border-box;
    overflow-x:hidden;
    background: rgb(158,158,255);
background: linear-gradient(90deg, rgba(158,158,255,0.04) 0%, rgba(255,255,255,0.04) 49%, rgba(0,212,255,0.04) 100%);
}
/* Navbar */
a{
    text-decoration: none;
}
.padding{
    padding-left: 10em;   
}

.floatcard {
    margin: 15px;
    background-color: #5D25CE;
    padding: 15px; 
    border-radius: 15px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* This creates the floating effect */
}
.navbar-brand{
    margin-left: 5em;
    letter-spacing: 7px;
}
.navbar-brand:hover{
    font-style: italic;
}
.navbar .btn{
    margin-right: 5em;
}

.banner {
    background: rgb(93,37,206);
    background: linear-gradient(122deg, rgba(93,37,206,0.05) 0%, rgba(255,149,111,0.05) 100%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); /* This creates the floating effect */
    padding: 20px 0;
    margin: 20px;
    border-radius: 10px; /* Adjust this value as needed */
}

.title-shape{
    /* background-color: #FF956F ; */
    padding: 2em;
    border-radius: 15px 15px 60px 15px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px #FF956F; /* This creates the floating effect */
    background-image:url("images/waveee.svg"); 
    margin-right: 10%;
    width: 35%;
    height:20em; 
    letter-spacing: 5px;
    animation: slideInFromLeft 1s ease-in-out;
    opacity: 0.85;
}
.title-shape h1{
    margin-left: 0.5em;
    font-size: 50px;
    color:white; 
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container-timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    animation: slideInFromRight 1s ease-in-out;
}

.container-timeline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5em;
    right: 118px;
    border-radius: 10px;
    border: 3px solid #383838;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
}
.item a {
    z-index: 1;
}

.dot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 2px;
    background-color: #5D25CE;
    box-shadow: 0 0 3px #5D25CE;
    z-index: 1;
}
.dot:hover{
    height: 30px;
    width: 30px;
    margin-top: 4px;
    box-shadow: 0 0 6px #5D25CE;
    transition: 0.1s;
    z-index: 1;
}

.img-from{
    width: 100px; /* Adjust the width as needed */
    height: 100px;
    background-color: #FF956F;
    box-shadow: 0 0 5px #FF956F; 
    border-radius: 100%; 
    z-index: 1;
}
.img-to{
    height: 130px;
    width: 130px;
    z-index: 1;
    margin-left: -10px;
}
.item-text-top {
    text-align: center;
    white-space: nowrap !important;
    color:#383838; 
    font-size: 20px;
    margin-top: -3em;
}
.item-text-bottom{
    margin-top: 4em;
    text-align: center;
    text-decoration: none;
    color:#383838; 
    font-size: 20px;
    white-space: nowrap;
}
.content-r2{
    position: relative;
    background: rgb(93,37,206);
    background: linear-gradient(122deg, rgba(93,37,206,0.05) 0%, rgba(255,149,111,0.05) 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
    min-height: 30vh;
    margin: 20px;
    border-radius: 15px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    padding-left: 50px;
}

.content-r2 p{
    font-size: 20px;
    padding-right: 8em;
    font-weight: 200;
    line-height: 1.75em;
}
li{
    font-size: 20px;
    font-weight: 200;
}

.illustration img{
    max-width: 50vh;
    max-height: 50vh;
    margin-top: 2em;
}

.illustration .bike-img{
    margin-top: 7em;
}
.illustration .clock-img{
    width: 300px;
    height: 300px;
  
}
.clock-img:hover{
    transform: rotate(370deg);
    transition: 1s;
}
    

.content-r2 h2::before {
    content: "";
    display: inline-block;
    height: 40px;
    margin-left: 1em;
    border-left: 5px solid #5D25CE;
    border-radius: 10px;
    margin-right: 5px;
    position: absolute;
    left: 0;
}

.content-r2:hover h2::before {
    animation:fadeInFromTop 1s forwards ;
}

.card-title{
    text-align: center;
    color:#383838; 
}

#roadToLU2 h2{
    margin-top: 2em;
}
.bottom-container-margin{
    margin-bottom: 8em;
}
.card-light{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    /* ADD BACKGROUND */
   padding: 15px; 
   border-radius: 15px; /* Adjust this value as needed */
}
.banner:hover .banner-header::before{
    animation:slideInFromLeft 1s forwards;
}
.banner:hover .banner-header::after{
    animation:slideInFromRight 1s forwards;
}


.banner-header::before{
    content: "";
    position: absolute;
    top: auto;
    bottom: 15px;
    left: -6em;
    border: 3px solid #5D25CE;
    width: 5em;
    border-radius: 10px;
}
.banner-header::after{
    content: "";
    position: absolute;
    top: auto;
    bottom: 15px;
    right: -6em;
    border: 3px solid #5D25CE;
    width: 5em;
    border-radius: 10px;
   
    
}
.banner-header{
    position: relative;
}
.card-image{
    width: 300px;
    height: 300px;
    border-radius: 45%;
    margin-bottom: 3em;
    margin-top: 1em;
}
.card-image:hover{
    width: 325px;
    height: 325px;
    transition: 0.5s;
}
.card-light p {
    margin-top: 2em;
    font-weight: 200;
}

.footer-container {
    margin-top: 5vh;
    border-radius: 10px 10px 0px 0px; 
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5em;
    height: 10vh;
    background: rgb(93,37,206);
    background: linear-gradient(122deg, rgba(93,37,206,0.05) 0%, rgba(255,149,111,0.05) 100%);
}

.footer-container p {
    margin-top: 1em;
    color: #383838;
    
}
.footer-container a:hover{
    font-size: 2.1em;
    transition: 0.1s;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 0.5em 0.8em; 
    font-size: 18px;
    text-decoration: none;
    color: #5D25CE;;
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s ease, opacity 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.top-button:hover {
    background-color: white;
}
.top-button.show-button {
    opacity: 0.5;
    visibility: visible;
}

.readMoreBtn{
    color:#FF956F;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #FF956F;
    opacity: 0.8;
}
.readMoreBtn:hover { 
    color: #fffbf6;
    background-color: #FF956F; 
}
.hidden {
    display: none;
}

.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); /* This creates the floating effect */
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffbf6;
    padding: 20px;
    border: 1px solid #888;
    width: 900%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.close-btn {
    color: #aaa;
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dialog-image {
    width: 45%;
    margin-top: 10px;
    border-radius: 40%;
    height: auto;
}

.dialog-title {
    margin-top: 20px;
    text-align: center;
}

.fullText{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

/* RESPONSIVE SUPPROT */



@media (max-width: 1300px) {
    /* Timeline */
    html,body{
        overflow: auto;
       
    }
    .dialog-content {
        width: 90%;
    }
    .container-timeline {
        position: relative;
        flex-direction: column;
        overflow: hidden;
        
    }

    .container-timeline::before {
        margin-right: 0;
        position: absolute;        
        top: 5em;
        bottom: 9.5em; 
        left: 32.5%;
        right: auto; 
        transform: translateX(-50%);
    }
    
    .item {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-align: start; 
        margin-left: -100px;
    }

    .dot {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 54.5%;
        
    }

    .img-from{
        margin-right: 0;
       margin-left: 30px;
    }
    .img-to{
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: -5px;
    }

    .item-text {
        position: relative;
        margin-top: -18px;
        margin-left: 200px;
        margin-right: 0;
        text-align: left;
        white-space: normal;
    } 

    
    /* Timeline end */

    .card-image{
        width: 250px;
        height: 250px;
       
    }
    .title-shape h1{
        margin-left: 0px;
        font-size: 30px;
        font-weight: 400;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .title-shape {
        width: 90%;
        margin: 5px;
        height: 15em;
        
    }
    .padding{
        padding: 1em;
    }
    .list-items{
        margin-top: 50px;
        margin-left: 10px;
        animation: slideInFromLeft 1s 0.2s ease-in-out;
    }
    .navbar-brand{
        font-size: 0.9rem;
        margin-left: 1em;
        letter-spacing: 3px;
    }

    .illustration img{
        max-width: 40vh;
        max-height: 40vh;
        
    }
    .navbar .btn{
        margin-right: 1em;
        font-size: 0.9rem;
    }
    .content-r2{
        background: rgb(93,37,206);
        background: linear-gradient(122deg, rgba(93,37,206,0.15) 0%, rgba(255,149,111,0.15) 100%);
        padding-left: 2em;
        padding-right: 1em;
    }
    .content-r2 p{
        padding-right: 0.5em;
    }
    .content-r2 h2::before{
        margin-left: 0.4em;
        
    }
    .bike-img{
        margin-top: 1em;
        padding: 2em;
    }
    .container-timeline{
        margin-top: 2em;
        margin-left: 2em;
    }
    .banner-header{
        text-align: center;
    }
    .banner-header::before{
        display: none;
    }
    .banner-header::after{
      
        display: none;
    }
    
}


/* ANIMATIONS */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0.85;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInFromTop {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 40px;
      opacity: 1;
    }
  }
  
