@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');
body {
    font-family: 'Lexend', Arial, Helvetica, sans-serif; 
    margin: auto; 
    max-width: 2500px;
    box-sizing: border-box;
}
/* Navbar */
a{
    text-decoration: none;
}

.padding{
    padding-left: 10em;
    padding-right: 10em;
}

.floatcard {
    margin: 15px;
    background-color: #5D25CE;
    padding: 15px; 
    border-radius: 15px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* This creates the floating effect */
}
.navbar-brand{
    margin-left: 5em;
    letter-spacing: 7px;
}
.navbar .btn{
    margin-right: 5em;
}
.myContainer{
    margin: 5em 10em 5em 15em;
}
.banner {
    background: rgb(93,37,206);
    background: linear-gradient(122deg, rgba(93,37,206,0.05) 0%, rgba(255,149,111,0.05) 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); /* This creates the floating effect */
    padding: 20px 0;
    margin: 20px;
    border-radius: 10px; /* Adjust this value as needed */

}

.title-shape{
    background-color: #FF956F;
    color: #383838; 
    padding: 30px;
    padding-left: 50px;
    border-radius: 15px 15px 60px 15px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px #FF956F; /* This creates the floating effect */
    margin-right: 10%;
    width: 40%;
    max-height: 25vh;
    letter-spacing: 5px;
    animation: slideInFromLeft 1s ease-in-out;
}

/* TIMELINE */
.container-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}
.container-timeline::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 10px;
    border: 3px solid #383838;
}


.item {
    display: flex;
    align-items: center;
}
.item a {
    z-index: 1;
}

.dot {
    height: 25px;
    width: 25px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 50%;
    background-color: #5D25CE;
    box-shadow: 0 0 3px #5D25CE;   
    margin-right: 25px;
    z-index: 1;
}
.dot:hover{
    height: 30px;
    width: 30px;
    margin-left: -2px;
    box-shadow: 0 0 6px #5D25CE;   
    transition: 0.1s;  
    z-index: 1;
}

.img-from{
    width: 100px; /* Adjust the width as needed */
    height: 100px;
    margin-left: -35px;
    margin-bottom: 40px;
    background-color: #FF956F;
    box-shadow: 0 0 5px #FF956F; 
    border-radius: 100%; 
    z-index: 1;
}
.img-to{
    margin-left: -50px;
    height: 100px;
    width: 100px;
    padding-top: 100px;
    z-index: 1;
}


.item-text {
    font-size: 25px;
    letter-spacing: 2px; /* Adjust the font size as needed */
    color: #555555; /* Adjust the text color as needed */
}

.content-r2{
    background: rgb(93,37,206);
    background: linear-gradient(122deg, rgba(93,37,206,0.05) 0%, rgba(255,149,111,0.05) 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* This creates the floating effect */
    padding: 20px 0;
    min-height: 20vh;
    margin: 20px;
    border-radius: 10px; /* Adjust this value as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    
    padding: 30px;
    padding-left: 50px;
    border-radius: 15px 15px 15px 70px; /* Adjust this value as needed */
    position: relative;
}

.odd{
    border-radius: 15px 15px 70px 15px; 
}

.content-r2 p{
    font-size: 20px;
    padding-right: 8em;
    font-weight: 200;

    line-height: 1.75em;
}
li{
    font-size: 20px;
    font-weight: 200;
 
}

.content-r2 h2::before:hover{
    animation:fadeInFromTop 1s forwards ;
}
.bike-img{
    margin-top: 7em;
}

.content-r2 h2::before {
    content: "";
    display: inline-block;
    height: 40px;
    margin-left: 1em;
    border-left: 5px solid #5D25CE;
    border-radius: 10px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    opacity: 0;
    animation:fadeInFromTop 1s forwards ;
}

.content-r2.animate h2::before {
    animation: fadeInFromTop 1s forwards;
}

.illustration img{
    max-width: 50vh;
    max-height: 50vh;
    color: red;
}

.card-title{
    text-align: center;
    color:#383838
}

.card-light{
    margin: 15px;
    /* ADD BACKGROUND */
    padding: 15px; 
    border-radius: 15px; /* Adjust this value as needed */
}

.card-image{
    width: 300px;
    height: 300px;
    border-radius: 45%;
    margin-bottom: 3em;
    margin-top: 1em;

}

/* RESPONSIVE SUPPROT */

@media (max-width: 1030px) {
   
    .title-shape {
        width: 90%;
        margin: 5px;
    }
    .padding{
        padding: 1em;
    }
    .list-items{
        margin-top: 50px;
        margin-left: 10px;
        animation: slideInFromLeft 1s 0.2s ease-in-out;
    }
    .navbar-brand{
        font-size: 0.9rem;
        margin-left: 1em;
        letter-spacing: 3px;
    }
    .navbar .btn{
        margin-right: 1em;
        font-size: 0.9rem;
    }
    .content-r2{
        background: rgb(93,37,206);
        background: linear-gradient(122deg, rgba(93,37,206,0.15) 0%, rgba(255,149,111,0.15) 100%);
        padding-left: 2em;
        padding-right: 1em;
    }
    .content-r2 p{
        padding-right: 0.5em;
    }
    .content-r2 h2::before{
        margin-left: 0.4em;
        
    }
    .bike-img{
        margin-top: 1em;
        padding: 2em;
    }
    .container-timeline{
        margin-top: 2em;
    }
    
}


/* ANIMATIONS */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInFromTop {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 40px;
      opacity: 1;
    }
  }
  
